<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragment-nav">
  <nav class="navbar navbar-expand-sm navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">손절노노</a>
      <!-- 리사이즈 시 오른쪽 토글 -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
              aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="btn btn-outline-success mx-1 my-2 my-sm-0"
               href="/user/join">회원가입</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-success mx-1 my-2 my-sm-0"
               href="/user/login">로그인</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>
</html>