<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head.html :: fragment-head"></head>

<body>
<div th:replace="/fragments/navbar.html :: fragment-nav"></div>

<div class="container px-4 py-5">
  <div class="py-2 text-center">
    <h2>Sign in to SonJulNoNo</h2>
  </div>
  <div class="row align-items-center py-5">
    <div class="col-md-10 mx-auto">
      <form class="needs-validation" id="login-form">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="login-email" placeholder="name@example.com" required>
          <label for="login-email">Email address</label>
        </div>

        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="login-password" placeholder="Password" required>
          <label for="login-password">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary"
                id="login">로그인
        </button>
      </form>
    </div>
  </div>
</div>

<script type="module" th:src="@{/js/apps.js}"></script>
</body>
</html>